*.pdf
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

*.jsonl
data
.vscode
hortisem-env
.env
presentations
Prodigy
ref_DB
ref_info
HortiSem
*.pub
papers
hybrid_model
model
spacy_model
