.pdf-preview {
    width: calc(100% - 15px);
    position: fixed;
    position: sticky;
    position: -webkit-sticky;
    top: 3px;
    height: calc(100vh - 80px);
    min-height: 800px;
}

.pdf-preview iframe {
    min-width: 500px;
    min-height: 800px;
    width: 100%;
    height: 100%;
}

.upload-form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#result-container {
    padding-top:3rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#displacy-results {
    overflow:auto;
    max-height:calc(100vh - 120px);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    clear:both;

}

#result-container .row {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-color: #777
}

.result-container-labels {
    width:33%;
    float:left;
    font-size: 1.2rem;
    font-weight:bold;
}

.result-container-entities {
    width:66%;
    float:left;
}

span.entity-name:after {
    content:', ';
}

span.entity-name:last-child:after {
    content:'';
}

span.entity-name:after

.default-margin-y {
    margin-top: 40px;
    margin-bottom: 40px;
}

.no-left-padding {
    padding-left: 0px;
}


.btn-primary {
    background-color: #0469AA;
}

main section a {
    color: #234B96;
}

.navbar-top-container {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    /* border-color:#795217; */
    border-color: #234B96;
    height: 8rem;
    width: 100%;
    display: block;
    position: relative
}

.navbar-top-container .app-title {
    position: absolute;
    bottom: 17px;
    left: 200px;
}

.navbar-bottom {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    /* border-color:#795217; */
    border-color: #234B96;
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 0.8rem;
    text-align: left;
}



.btn-move-up {
    margin-top: -25px;
}

td.bottom-highlight {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333;
}

.danger-diff {
    background-color: #b30000;
    color: white;
}

.danger-diff a {
    color: white;
}

.user-pulldown {
    font-size: 2rem;
    position: absolute;
    right: 15px;
    top: 5px;
    color: white;
}

.user-pulldown a {
    color: white;
    text-decoration: none;
}

#user-popover {
    display: none;
    padding: 10px;
    position: absolute;
    left: -175px;
    top: 50px;
    width: 200px;
    font-size: 0.8rem;
    color: #333;
}

.field-value label {
    display: block;
    clear: both;
}

.field-value label.label-radio {
    display: inline;
}

.btn.btn-sm.btn-smaller-font {
    font-size: 70%;
}


div.error {
    display: none;
}

div.error.active {
    display: block;
    color: red;
}

#menu nav {
    border-width: 0 0 2px 0;
    /* border-color: #795217; */
    border-color: #234B96;
    border-style: solid;
}

#menu nav a {
    /* color: #795217; */
    color: #333;
    font-weight: bold;
}

#menu nav a:hover {
    color: #234B96;
}

#menu nav a.active {
    color: #234B96;
}

#matrix th a {
    /* color:#795217; */
    color: #234B96;

}


#modal-name-selection-body ul {
    margin-bottom: 5px;
    list-style: none;
    padding-left: 0;
}

#modal-name-selection-body ul li {
    color: #234B96;
}

#modal-name-selection-body ul li:hover {
    cursor: pointer;
}

.roll-button {
    color: inherit;
}

.roll-button:hover {
    color: inherit;
    text-decoration: none;
}

.rollable.roll-up {
    display: none;
}


.form-control:disabled {
    background-color: #fafafa;
}


h2 {
    color: #495057;
    font-size: 1.05rem;
    /* padding-bottom:8px; */
    padding-bottom: 1rem;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1);
    padding-top: 1rem;
}

h1 {
    color: #495057;
    font-size: 1.2rem;
    /* padding-bottom:8px; */
    padding-bottom: 1rem;
    margin-top: 2px;
    margin-bottom: 1rem;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1);
    font-family: arial;
}

.no-wrap, #matrix th {
    white-space: nowrap;
}

.table-dashboard td {
    font-size: 0.95rem;
}

.sort-icon {
    font-size: 0.8rem;
    margin-left: 5px;
    color: #ddd;
}

.sort-icon.first-sort {
    color: #234B96;
}

header {
    display: flex;
    background-color: #002538;
    flex: 0 0 2.5rem;
}

header .header-nav {
    display: flex;
}

header #tab-nav {
    display: flex;
    flex: 0 0 auto;
}

header #tab-nav span.tabnav {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: .65;
}

header #tab-nav span.tabnav.active {
    background: rgba(231, 226, 226, 0.945);
    opacity: 1;
    font-weight: 600;
    background-color: rgb(221, 232, 243);
    letter-spacing: 0.09rem;
}

header .branding {
    display: flex;
    flex: 0 0 auto;
    min-width: 8.5rem;
    padding: 0 1rem;
    height: 2.5rem;
}

header #brand-icon {
    padding-right: .333rem;
}

header .branding a {
    display: inline-flex;
    align-items: center;
    height: 2.5rem;
}

header .branding img {
    margin-top: 23px;
    vertical-align: middle;
}

.tabnav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #234B96;
}

main a {
    color: #234B96;
}



.nav-tabs {
    background-color: white;
}

.nav-tabs-container {
    position: sticky;
    top: 0px;
    padding-top: 1px;
    background-color: white;
    z-index: 10;
    padding-bottom: 15px;
}

ul.ui-autocomplete {
    z-index: 1100;
}


.btn-submit-spinner {
    width: 5rem;
}

#tab-pdf {
    height: 100%;
    display: block;
}

#tab-tree, #tab-tree-type {
    height: 100%;
}


#flash-message-row {
    position: sticky;
    z-index: 255;
    top: 0px;
}
