
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" href="../static/img/favicon.png?v=2020.08.14.0">

    <title>Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/thirdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/demo.css?v=2020.08.14.0" rel="stylesheet">

    <script src="../static/thirdparty/jquery/jquery-3.4.1.min.js"></script>  
    
</head>

<body>

<header>
    

    <div class="branding">
        <a href="/dashboard" class="nav-link">
            <div id="brand-icon">
                <img src="../static/img/logo_jki_small.png" alt="logo" height="60" width="100">
            </div>
        </a>
    </div>
    <div class="header-nav" id="tab-nav">
        <span class="tabnav ">
            <a class="" href="#">Übersicht</a>
        </span>
            </div>

    <div class="user-pulldown">
        <a href="javascript://" class="call-user-pulldown"><i class="fas fa-user-circle" style=""></i></a>
    </div>
</header>



<main role="main">   
    <div class="container-fluid default-margin-y">
        <div class="row">
            <div class="col-sm-12">                
                <div style="clear:both"><br></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="upload-form">
                            <form method="post" action="">
                                <div class="form-group">
                                    <label for="login">File</label>
                                    <input type="file" class="form-control" id="file" name="file">
                                </div>
                                <input class="btn btn-sm btn-primary float-right" type="button" id="upload_button" value="Upload" />
                            </form>
                        </div>
                        <div id="result-container">
                            <div class="result-container-labels"></div>
                            <div class="result-container-entities"></div>
                        </div>                        
                    </div> 
                    <div class="col-lg-6" style="height:100%">
                        <!--
                        <div class="pdf-preview">
                            <h1>Datei: <a href="http://127.0.0.1:8000/static/upload_folder/WD-Gemuese_1.pdf" target="_blank" class="float-right btn btn-secondary btn-sm"><i class="fas fa-desktop"></i> &nbsp;  Datei herunterladen</a></h1>
                            <iframe src="http://127.0.0.1:8000/static/upload_folder/WD-Gemuese_1.pdf" id="iframe_pdf_preview" width="100%" height="100%"></iframe>
                        </div>
                        -->
                        <div id="displacy-results"></div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</main>

<footer class="text-muted">
    
</footer>

<script>
    // labels:
    let labelEntities = new Array();
    let fileName = '';

    // label order:
    let labelOrder = new Array();
    labelOrder.push("Kultur");
    labelOrder.push("Erreger");
    labelOrder.push("Mittel");
    labelOrder.push("BBCH_Stadium");
    labelOrder.push("Auftreten");
    labelOrder.push("Witterung");
    labelOrder.push("Ort");
    labelOrder.push("Zeit");


    // initialize handlers, after the browser is ready setting up the DOM.
    $(document).ready(function() {
        // define a click handler on the file upload button
        $("#upload_button").click(function() {
            // collect the file selected in a FormData variable.
            formdata = new FormData();
            if($("#file").prop('files').length > 0)
            {
                file =$("#file").prop('files')[0];
                formdata.append("file", file);
            }

            labelEntities = new Array();
            
            // send a post to the backend with the file wrapped in formData
            $.ajax({
                url: 'http://127.0.0.1:8000/uploadfile/?[0m',
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (result) {
                    // clear the result container from potential previous requests:
                    $('#result-container').html('');
                    // parse the results, and fish the relevant piece of information from the JSON reply:
                    // let json = JSON.parse(result)
                    json = result;
                    fileName = json.filename;
                    
                    json.ents.forEach(function(item) {
                        console.log(item);                        

                        if (typeof labelEntities[item.label] === 'undefined' ) {
                            labelEntities[item.label] = new Array();
                        }

                        if (!labelEntities[item.label].includes(item.entity)) labelEntities[item.label].push(item.entity);
                        
                        // update result container with found this entity:
                        // $('#result-container').append(entity);

                        console.log("Labelentities:");
                        console.log(labelEntities);
                        
                    });
                    displayResults();
                    $("#displacy-results").html(result.html);                    
                }
            });
        });

    });

    function displayLabel(key) {
        return key.replace("_"," ");
    }

    function displayResults() {
        $("#result-container").html('');
        // for (let key in labelEntities) {
        labelOrder.forEach (function(key) {
            console.log(key);

            let row = document.createElement('div');
            row.className = 'row';

            let labelName = document.createElement('span');
            labelName.className = 'entity-label';
            labelName.textContent = displayLabel(key);

            let labelContainer = document.createElement('div');
            labelContainer.className = 'result-container-labels';
            labelContainer.append(labelName);


            let entitiesContainer = document.createElement('div');
            entitiesContainer.className = 'result-container-entities';

            if (typeof labelEntities[key] === 'undefined') {
                let entityName = document.createElement('span');
                    entityName.className = 'entity-name';
                    entityName.textContent = '';
                    entitiesContainer.append(entityName);
            } else {
                let entities = labelEntities[key];
                entities.forEach(function(entity) {
                    let entityName = document.createElement('span');
                    entityName.className = 'entity-name';
                    entityName.textContent = entity;
                    entitiesContainer.append(entityName);
                });
            }

            row.append(labelContainer);
            row.append(entitiesContainer);
            $("#result-container").append(row);            

            $("#iframe_pdf_preview").attr("src","http://127.0.0.1:8000/static/upload_folder/"+fileName);
        });
    }
</script>

<script src="thirdparty/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>